.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9); /* Set the background color and transparency */
    z-index: 100; /* Ensure it stays on top of other content */
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .menu li {
    float: left;
  }
  
  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menu li a:hover {
    background-color: #111;
  }

  /* CARRUSEL MOVIBLE 
   .carousel-item img{
    height: 400px;
    width: 500px;
    padding: 50px;
    margin: 50px;
   }*/

  /*CUERPO DE CONTACTO*/
.Contacto{
  position: relative;
  width: 100%;
  padding: 40px 100px;
}

.Contacto .title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-style: Sans-Serif;
}
.Contacto .title h2{
  color: #000;
  font-weight: 500;
  font-style: Sans-Serif;
}

.form{
  grid-area: form;
}

.info{
  grid-area: info;
}

.map{
  grid-area: map;
}

.contac{
  padding: 40px;
  background: #ffffff; /* Fondo de la sección */
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}

.container{
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas:
  "form info"
  "form map";
  grid-gap: 20px;
  margin-top: 20px;
}

.contac h3{
  color: #fff;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}

 /* Formulario de contactanos */
 
 .form-group{
  position: relative;
  width: 100%;
 }

 .form-group .row50{
  display: flex;
  gap: 20px;
 }

 .inputBox{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
 }

 .form-group .row100 .inputBox{
  width: 100%;
 }
 .inputBox span{
  color: #111;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
 }

 .inputBox input{
  padding: 10px;
  font-size: 1.1em;
  border: 1px solid #333;
  outline: none;
 }

 .inputBox textarea{
  padding: 10px;
  font-size: 1.1em;
  border: 1px solid #333;
  outline: none;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
 }

 .inputBox input[type="submit"]{
  background: #a11010;
  color: #fff;
  border: none;
  font-size: 1.1em;
  max-width: 120px;
  font-weight: 500;
  cursor: pointer;
  padding: 14px 15px;
  font-style: Sans-Serif;
 }

 .inputBox ::placeholder{
  color: #999;
 }

/*Informacion de contacto*/

.info{
  background: #fff;
}

.info h3{
  color: #000000;
  font-style: Sans-Serif;
}

.info .infoBox div{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info .infoBox div span{
  min-width: 40px;
  height: 40px;
  color: #fff;
  background: #bd2525;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;

}


.info .infoBox div p{
  color: #131212;
  font-size: 1.1em;
}

.info .infoBox div a{
  color: #0e0c0c;
  font-size: 1.1em;
  text-decoration: none;
}

.sci{
  margin-top: 40px;
  display: flex;
}

.sci li{
  list-style: none;
  margin-right: 15px;
}

.sci li a{
  color: #f07777;
  font-size: 1.5em;
  color: #ac3232;
}

.sci li a:hover{
  color: #f57b7b;
}

/*Mapa*/

.mapa{
  padding: 0;
}

.mapa iframe{
  width: 100%;
  height: 100%;
}


/*RESPONSIVE DE CONTACTOS */
@media(max-width: 991px){
  .Contacto{
    padding: 20px;
  }
 .container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "form"
        "info"
        "map";
}

.form-group .row50 {
  display: flex;
  gap: 0;
  flex-direction: column;
}
.inputBox {
  width: 100%;
}
.contac {
  padding: 30px;
}
.mapa {
  min-height: 300px;
  padding: 0;
}
}

/* PIE DE PAGINA*/
.styl-footer{
    background-color: #aaaaaa;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.styl-footer p{
    margin: 0;
}

.styl-footer a{
    color: #fff;
    text-decoration: none;
}

.list-horizontal {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.list-horizontal li {
  margin: 0 10px;
}

.list-horizontal li a {
  color: #1014f8;
  text-decoration: none;
  
}

.service-info {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.service-image {
  width: 40%;
  height: auto;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.service-text {
  width: 60%;
}

.service-text h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.service-text h3 {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #333;
}

.service-text p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #333;
}

.benefits {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.benefits li {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #333;
}

.service-button {
  display: inline-block;
  background-color: #f31212;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
}

.service-button:hover {
  background-color: #d1d1d1;
}

.conten-ser {
  background-color: #b62121;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services-flot {
  list-style: none;
  padding: 0;
  margin: 0;
}
.services-flot ul {
  list-style: none;
  padding: 0;
}

.services-flot li {
  position: relative;
  padding: 10px 0 10px 40px; 
  margin-bottom: 10px;
  background-color: #bebebe;
  transition: background-color 0.3s ease;
}

.services-flot li:hover {
  background-color: #f1eded;
}

.services-flot li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f50808;
  transform: translateY(-50%); 


}

.services-flot li span {
  padding-left: 10px;
}

.checkmark {
  color: rgba(233, 17, 17, 0.808);
  font-size: 1.2em;
  margin-left: 5px;
}

.flot-info{
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.flot-text {
  width: 50%;
  margin-right: 20px;
  margin-left: 20px;
}

.flot-image {
  width: 50%;
  height: auto;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Imagenes de flotilla */
.image-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.image-list li {
  flex-basis: calc(33.333% - 10px);
  margin-right: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.image-list img {
  width: 20%;
  height: auto;
}

.image-list p {
  margin: 5px 0 0 0;
  margin-left: 5px;
  color: #000000;
  font-weight: bold;
}

.conte-flot{
  background-image: url(../imag/conta.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px;
}

.cont-in{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  background-image: url(../imag/conta.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px;
}
.cont-in h2{
  margin: 0;
  margin-bottom: 20px;  
  color: #000000;
  font-size: 2rem;
}
.cont-in p{
  margin: 0;
  margin-bottom: 20px;  
  color: #000000;
  font-size: 1.5rem;
  font-weight: bold;
}


/* CARRUSEL DE TARJETAS*/


.cards-wrapper{
  display: flex;
}
.card{
  margin: 0 .5em;
  width: calc(100%/3);
}

@media screen and (max-witdh:567px) {
  .card:not(:first-child){
    display: none;
  }
  
}
.image-wrapper{
  height: 22vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

 
.image-wrapper img{
max-width: 100%;
max-height: 100%;
}



/*Estilo de imagen marcas*/
.marcas{
  display: flex;
  justify-content:center;
  margin-top: 20px;
  /*background-color: #a11010;*/
  padding: 20px;

}
.imag-1{
  margin-right: 5px;
  width: 50%;
}
.imag-2{
  margin-left: 5px;
  width: 50%;
}

/*Diseño de reseñas*/

#testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.testimonial-titulo{
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-titulo h1{
  font-size: 2.2rem;
  font-weight: 500;
  background: #f80b0b;
  color:#ffffff;
  padding: 10px 20px;
}

.testimonial-titulo span{
  font-size: 1.3rem;
  color: #000;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.testimonial-box-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}


.testimonial-box{
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #dadada;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}

.profile-imag{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile-imag img{
  width: 100%; 
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile{
  display: flex;
  align-items: center;
}

.name-user{
  display: flex;
  flex-direction: column;
}

.name-user strong{
  color: #000000;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.name-user span{
  color: #b1b1b1;
  font-size: 0.8rem;
}

.reviews{
  color: orange;

}

.box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.client-comment p{
  font-size: 0.9rem;
  color: #000;
}

.testimonial-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

@media(max-width:1060px){
  .testimonial-box{
    width: 45%;
    padding: 10px;
  }
}

@media(max-width:790px){
  .testimonial-box{
    width: 100%;
  }
  .testimonial-titulo h1{
    font-size: 1.4rem;
  }
}

@media(max-width:340px){
  .box-top{
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .reviews{
    margin-top: 10px;
  }
}

::selection{
  color: #ffffff;
  background-color: #252525;
  
}

/* PIE DE PAGINA*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
footer{
  position:absolute;


}
.footer-distributed{
  background-color: #000;
  box-sizing: border-box;
  widows: 100%;
  text-align: center;
  font: bold 13px, sans-serif;
  padding: 40px, 50px,40px;
  margin-top: 70px;
}
.footer-distributed .footer-left, .footer-distributed .footer-center,
 .footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left{
  width: 30%;
}

.footer-distributed h3{
  color: #ffff;
  font: normal 26px, 'cookie' cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color: #ff1818;

}

.footer-distributed .footer-links{
  color: #ffff;
  margin: 20px 0 12px;

}

.footer-distributed .footer-links a{
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name{
  color: #f5f5f5;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center{
  width: 35%;

}
.footer-distributed .footer-center i{
  background-color: #da1313;
  color: #fff;
  font-size: 25%;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;

}

.footer-distributed .footer-center i.fa-envelope, .footer-center i.fa-phone, .footer-center i.fa-map-marker{
  font-size: 17px;
  line-height: 38px;
  
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #f7f7f7;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span{
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a{
  color: #e60606;
  text-decoration: none;
}

.footer-distributed .footer-right{
  width: 30%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color: #ffff;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #f3eded;
  border-radius: 2px;
  font-size: 20px;
  color: #d11212;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;

}

.footer-distributed .footer-icons a:hover{
  background-color: #887e7e;
}

.footer-links a:hover{
  color: #1014f8;
}
@media(max-with:880px){
  .footer-distributed .footer-links, .footer-distributed .footer-center, 
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i{
    margin-left: 0;
  }
}

.dise{
      
 font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
        h1 {
            text-align: center;
        }
        h2 {
            margin-top: 30px;
        }
        p {
            margin-bottom: 15px;
        }
        ul {
            margin-top: 0;
            padding-left: 20px;
        }

}


